
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FD5842;
}

header {
    background-color: #FD5842;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

main section#main_background_image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(100%-200px);
    height: 700px;
    margin: 50px 100px;
    background-image: url('../imges/disney-wish-movie-2023.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    gap: 30px;
}

main section#main_background_image section#Birthday_form {
    position: relative;
    background-color: #17193299;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    width: 362px;
    height: 378px;
    display: flex;
    flex-direction: column;

}

label {
    color: white;
    font-size: 1.2em;
    margin: 10px 0;
}

input#name {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    border: none;
}

textarea#wish {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    height: 235px;
    border-radius: 5px;
    border: none;
    Resize: none;
}

main section#main_background_image section#Birthday_form div#wisher_submit {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

button.submit_form {
    padding: 10px;
    margin-top: -20px;
    width: 54px;
    height: 54px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}

button.submit_form img {
    width: 54px;
    height: 54px;
}

button.submit_form.Edit_BTN_submit {
    display: none;
}

main section#main_background_image section#Rendom_images {
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    margin-top: -425px;
    border-radius: 10px;
    width: 337px;
    height: 350px;
}

main section#main_background_image section#birthday_wishes {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #17193299;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    width: 362px;
    height: 378px;
    max-height: 378px;
    overflow-y: auto;
}

main section#main_background_image section#birthday_wishes::-webkit-scrollbar {
    width: 12px;
}

main section#main_background_image section#birthday_wishes::-webkit-scrollbar-track {
    background: #171932;
    border-radius: 10px;
}

main section#main_background_image section#birthday_wishes::-webkit-scrollbar-thumb {
    background-color: #8d8281;
    border-radius: 10px;
    border: 3px solid #171932;
}

.card-container {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FD5842;
    border-radius: 20px;
}

.card:nth-child(1) {
    width: 300px;
    height: 240px;
    z-index: 1;
    opacity: 0.5;
}

.card:nth-child(2) {
    width: 280px;
    height: 270px;
    z-index: 2;
    opacity: 0.7;
}

.card:nth-child(3) {
    width: 260px;
    height: 310px;
    z-index: 2;
    opacity: 0.9;
}

.card:nth-child(4) {
    width: 230px;
    height: 360px;
    z-index: 3;
    opacity: 1;
}

.card:nth-child(4) img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.The_wish {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.2em;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-bottom: 1px solid white;
}

.The_wish section#iconsBTN {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.The_wish section#iconsBTN button.BTN {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}

.The_wish section#iconsBTN button.Delete_wish img,
.The_wish section#iconsBTN button.Edit_wish img,
.The_wish section#iconsBTN button.cancel_Edit img {
    width: 100%;
    height: 100%;
}

.The_wish section#iconsBTN button.cancel_Edit {
    display: none;
}

@media screen and (max-width: 1313px) {

    main section#main_background_image {
        gap: 0px;
    }

    main section#main_background_image section#Birthday_form {
        width: 262px;
        height: 278px;
    }

    label {
        color: white;
        font-size: 1em;
        margin: 10px 0;
    }

    textarea#wish {
        width: 100%;
        height: 135px;
    }

    main section#main_background_image section#birthday_wishes {
        width: 262px;
        height: 278px;
        max-height: 278px;
    }

    .card-container {
        width: 200px;
        height: 300px;
    }

    .card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FD5842;
        border-radius: 20px;
    }

    .card:nth-child(1) {
        width: 200px;
        height: 140px;
        z-index: 1;
        opacity: 0.5;
    }

    .card:nth-child(2) {
        width: 180px;
        height: 170px;
        z-index: 2;
        opacity: 0.7;
    }

    .card:nth-child(3) {
        width: 160px;
        height: 210px;
        z-index: 2;
        opacity: 0.9;
    }

    .card:nth-child(4) {
        width: 130px;
        height: 260px;
        z-index: 3;
        opacity: 1;
    }

    .card:nth-child(4) img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}

@media screen and (max-width: 1068px) {
    main section#main_background_image section#Birthday_form {
        width: 200px;
        height: 217px;
        margin: 0px;
    }

    label {
        color: white;
        font-size: 0.7em;
        margin: 10px 0;
    }

    textarea#wish {
        width: 100%;
        height: 85px;
    }

    main section#main_background_image section#birthday_wishes {
        width: 202px;
        height: 218px;
        max-height: 218px;
        margin: 0px;
    }

    .The_wish {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-size: 1.2em;
        margin: 10px 0;
        padding: 10px;
        border: none;
        border-bottom: 1px solid white;
    }

    .The_wish section#iconsBTN button.BTN {
        width: 22px;
        height: 22px;
    }

    main section#main_background_image section#Rendom_images {
        margin-top: -550px;
        border-radius: 10px;
        width: 237px;
        height: 250px;
    }

    span {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 840px) {

    h1{
        font-size: 1.5em;
    }

    h2{
        font-size: 1.2em;
    }

    main section#main_background_image section#Birthday_form {
        width: 150px;
        height: 167px;
    }

    label {
        color: white;
        font-size: 0.5em;
        margin: 10px 0;
    }

    textarea#wish {
        width: 100%;
        height: 40px;
    }

    main section#main_background_image section#birthday_wishes {
        width: 152px;
        height: 168px;
        max-height: 168px;
        margin: 0px;
    }

    .The_wish {
        font-size: 0.5em;
        margin: 5px 0;
        padding: 5px;
    }

    .The_wish section#iconsBTN button.BTN {
        width: 16px;
        height: 16px;
    }

    main section#main_background_image section#Rendom_images {
        margin-top: -550px;
        border-radius: 10px;
        width: 187px;
        height: 200px;
    }

    span {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 700px) {

    h1{
        font-size: 1.2em;
    }

    h2{
        font-size: 0.9em;
    }

    main section#main_background_image {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
        gap: 20px;
        width: 500px;
        height: auto
    }

    main section#main_background_image section#Rendom_images {
        margin-top: 20px;
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    main section#main_background_image section#birthday_wishes {
        width: 100%;
        width: 152px;
        height: 168px;
        max-height: 168px;
        margin-top: 20px;
    }
}